.city-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
}

.cities-overlay{
    position: absolute;
    font-size: 80px;
    top: -28px;
    z-index: -2;
    color: #00000014;
}

@media(min-width: 991px){
    .city-title{
        font-size: 28px;
        line-height: 30px;
    }
}

@media(min-width: 1440px){
    .city-title {
        font-size: 34px;
        line-height: 40px;
    }
}