.home-section{
    margin-top: calc(128px + 50px);
    position: relative;

    .city-container{
        display: flex;
        row-gap: 10px;
        flex-direction: column;

        .city-list{
            display: none;
        }
    }
}

@media(min-width: 991px){
    .home-section{
        margin-top: 128px;

        .city-container{
            row-gap: 20px;

            .city-list{
                width: 100%;
                display: flex;
                column-gap: 20px;
                row-gap: 20px;
                flex-wrap: wrap;
            }

            .city-list-mbl{
                display: none;
            }
        }
    }
}

@media(min-width: 1440px){
    .home-section{
        .city-container{
            .city-list{
                
            }
        }
    }
}