.home-section{
    margin-top: 128px;

    .city-container{
        .city-list{
            display: none;
        }
    }
}

@media(min-width: 991px){
    .home-section{
        .city-container{
            .city-list{
                width: 100%;
                display: flex;
                column-gap: 20px;
                row-gap: 20px;
                flex-wrap: wrap;
            }

            .city-list-mbl{
                display: none;
            }
        }
    }
}

@media(min-width: 1440px){
    .home-section{
        .city-container{
            .city-list{
                
            }
        }
    }
}