@import "./../../../style/_variables.scss";

.restaurant-partner-registration {
    margin: 50px 0 150px 0;
    position: relative;

    .banner-wrapper {
        height: 250px;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
    }

    .title {
        margin-bottom: 20px !important;

        @media(min-width: 991px) {
            margin-bottom: 50px !important;
        }
    }

    .get-started-section {
        background: #FFF;
        padding: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: absolute;
        width: calc(100% - 60px);
        left: 10px;
        bottom: -200px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .title {
            margin: 0 !important;
            font-size: 24px;
            color: #333;
            font-weight: 300;
            line-height: 28px;
        }

        .content {
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            font-weight: 400;
            color: #0000008a;
            text-align: justify;
        }

        .button-section {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                background: $primary-color;
                width: 200px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                color: #FFF;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }

    @media(min-width: 426px) {
        .get-started-section {
            bottom: -130px;
        }
    }

    @media(min-width: 769px) {
        .banner-wrapper {
            height: 400px;
        }

        .get-started-section{
            bottom: -5%;
            width: 400px;
        }
    }
}